header{
position: fixed;
background-color: #293341;
height: auto;
width: 280px;
padding: 0 15px;
top: 0;
bottom: 0;
left: 0;
overflow-x:hidden ;
overflow-y: auto;
}
.nav-bar{
    margin-top: 15px;
    padding-left: 0px;
}
.principal{
width: 270px;
height: 105vh;
padding: 40px;

}
.principal .profil {
    text-align: center;
}
.principal .profil img{
    width: 200px;
    height: 200px;
    margin-left: -30px;
    border-radius: 20px;
    border: 6px solid #ffb9b933;
    display: block;
}
.principal h1{
    font-family: 'Ubuntu' ,sans-serif ; 
    font-size: 24PX;
    font-weight: 300;
    margin-left: -120px;
    color: #ffffff;
    text-align: center;
}
.principal ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    padding: 10px;
}

.principal ul li  {
    color: white;
   font-family: 'raleway',sans-serif ;
   font-size: 16PX;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 15px 10px;
   font-weight: 500;
   margin: 0;
}
.icone a{
    width: 35px;
    height: 35px;
    border-radius: 9px;
    display: inline-flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
     border: 1px solid rgba(255, 255, 255, 0.2);
    font: 16px roboto,system-ui;
    background-color: #293341;
    color: white;
    margin: 3px;  
    transition: all 0.3s ease;  

    
}
.principal ul li:hover{
    color: #22E7A1;
    cursor: pointer;
}
.icone a:hover{
     background-color: #22E7A1;
     cursor: pointer;
     
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
    
section{
    width: 942px;
    height: auto;
    margin-left: 25%;
    background-color: #293341;
    align-items: center;
    gap: 20px;
    display: flex;
    
}  
.im img{
    
    width: 400px;
    height: 400px;
    margin-right: 10%;
    object-fit:cover;
    border-radius: 12px;
    box-shadow: 0 20px 60px color-mix(in srgb,#f9fafb 15%,transparent 85%);
    transition: all 0.3s ease;
}
.sec{
    padding: 20px;
}
.sec h1{
    font: 56px'Ubuntu',sans-serif;
    color: white
}  
.sec p{
   
    font: 20px'roboto','sans-serif';
    color: white;
    line-height: 1.9;
}
.sec span{
    color: #22E7A1;
}
.btn button{
    position: relative;;
    width: 150px;
    height: 60px;
    border-radius: 13px;
    margin:15px;
    justify-content: space-between;
    font: 14px 'roboto','sans-serif';
    cursor: pointer;
    background-color: #293341;
    color: white;
    transition: all 0.3 ease;
    
}
.btn :hover{
    transform: scale(1.1);
    color: #22E7A1;
    border-color: #22E7A1;
}
.btn :first-child{
     background-color: #22E7A1;
     color: black;
}
.hero {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 40px; 
  text-align: center; 
  margin-top: 50px;
}

.stat h3 {
  font:32px'Roboto','sans-serif';
  margin-bottom: 5px;
}

.stat p {
  font:14px'Roboto','sans-serif';
  color: #666;
  margin: 0;
}
.square{
    position: relative;
    right:20px;
}
.fafa .palette{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:300px;
    right:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443;
    transition: all 0.3 ease;
}
.fafa .camera{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:80px;
    right:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443; 
    transition: all 0.3 ease;
}

.fafa .code{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:150px;
    left:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443; 
    transition: all 0.3 ease;  
}
.palette p,.camera p,.code p{
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #f9fafb;
    font: 14px 'Roboto', sans-serif;
    padding:10px;
}
.palette p i,.camera p i,.code p i{
    color: #22E7A1; 
}
.palette i,.camera i,.code i{
    margin:5px;
}
.im img:hover{
    transform: scale(1.1);
}
.palette:hover ,.camera:hover,.code:hover{
    transform: scale(1.1);
}
.ok{
    border-bottom: 2px solid #22E7A1;
    color:#22E7A1;
}

#About{
 display: flex;
 flex-direction: column;
 
}
.vava{
    height: 30%; 
     justify-content: center;
     margin-top: 190px;
}
.vava h1{
    font-family: 'Ubuntu' ,sans-serif ; 
    font-size: 45px;
    font-weight: 300;
    height: 50px;
    width: 450px;
    color: white;
    position: relative;
    text-align: center; 
}
.vava p{
    height: 50px;
    width: 500px;
     font-size: 20px;
     font-family: 'roboto',sans-serif;
     color:#b5c0c9;
     text-align: center; 
}
.container{
    display: flex;
    align-items: flex-start;  
    gap: 20px;
    flex-direction: row;
    border: 5px solid transparent; 
    padding: 10px;
    width: 100%;
    flex: 1;
    position: relative;
    
}  
.container span{
     color: #22E7A1;
}
.tous{
     display: flex;
     margin-top: 35%;
     width: 20%;
     height: 20%;
     flex-direction: column;
     gap: 20px;
     margin-left: 0;
     position: absolute;
     margin-left: 15px;
}
.picture img{
    width: 275px;
    height: 270px;
    border-radius: 20px;
      margin-left: 20px; 
}
.tous h4{
    font-size: 16.2px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: #dee2e6;
   margin: 0;
   display: inline-flex;  
}
.tous i{
    font-size: 16px;
    display: inline-flex;
}
.grand-point {
    font-size: 20px;
}.merva{
    width: 900px;
    margin-left: 60px;
}
.merva p{
    width: 35vw;
    height: auto;
     flex: 1;
     margin-top: 3px; 
}
.des{
 margin-top: 600px;
}
.p1{
 font-size: 20.8px;
 font-family: 'roboto', sans-serif;
 font-weight: 400;
 line-height: 1.6;
 color:  #f3f4f6;
 margin-bottom: 20px;
 max-width: 20px;
}
.p2{
    font-size: 17.6px;
 font-family: 'roboto', sans-serif;
 font-weight: 300;
 line-height: 1.7;
 margin-bottom: 1.7rem;
 color: #dee2e6;
}
.bostr i{
    font-size: 22px;
    display:flex;
    justify-content:center;
    margin: 3px;  
     width: 19px;
    height: 17px;
    border-radius: 10px;
    color: #22E7A1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    background-color: color-mix(in srgb, #22E7A1 15%, transparent 85%);  
}
.merva h4{
    font-size: 17.6px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
     line-height: 1.7;
     color: white;
}
.merva p{
    font-size: 17.6px;
    font-family: 'roboto' sans-serif;
     font-weight: 400;
     line-height: 1.6;
     color: #dee2e6;    
}

.riz h4{
    margin-left: 70px;
    margin-top: 20px;
    position: relative;
    bottom: 60px;  
}

.riz p{
    margin-left: 70px;
    margin-top: 10px;
    position: relative;
    bottom: 90px;
}

.pointille{
    font-size: 70px;
    font-family: 'roboto',sans-serif;
    font-style: italic;
    color:color-mix(in srgb, #22E7A1 12%, transparent 80%);
}
.parag p{
    font-size: 19.2px;
    font-family: 'roboto',sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
}
.po p{
    font-size: 17.6px;
    font-family: 'roboto' ,sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: white;
}
.po h3{
    font-size: 32px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    color: white;
}
.mark{
    display: flex;
    border-top: 1px solid color-mix(in srgb,#f3f4f6,transparent 90%);
    
}
.design {
    margin-top: 90px;
    height: 70px;
    
   
}
#About .btn button{
    width: 180px;
    height: 80px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 90px;
}
.grider{
    background-color: #293341;
    width: 910px;    
    
}
.autre{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
     margin-left: 50px;
}
.autre h3{
    font-size: 70px;
    font-family: 'ubuntu' , sans-serif;
    font-weight: 300;
    color: white;
}
.autre p{
    font-size: 18px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #b5c0c9;
    position: relative;
    top: -60px;
}
.partie{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 30px;
     
}

.partie h4{
    font-size: 20px;
    font-family: 'ubuntu' , sans-serif;
    font-weight: 300;
    color: white;
    position: relative;
    left: 20px;
    top: 40px;
    
}
.partie p{
     font-size: 18px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #b5c0c9;
    position: relative;
     top: 40px;
    left: 73px;
}
.partie i{
     font-size: 20px;
     
     width: 15px;
    height: 13px;
    border-radius: 10px;
    color: #22E7A1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    background-color: color-mix(in srgb, #22E7A1 10%, transparent 90%);  
}
.nao{
 border-top: 1px solid color-mix(in srgb,#f3f4f6,transparent 90%);
}
.skills-section{
    margin-top: -600px;
}
.skills-section h2{
    font-family: 'ubutu' sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.6;
    color: white;
   
}
.titresect{
    margin-bottom: 800px;
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    width: 942px;
    position: absolute;
        
}
.titresect p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
}
.paragsection{
    margin-bottom: 450px;
    position: absolute;
    margin-left: 130px;
    text-align: center;
}
.paragsection p{
    font-size: 22px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color:  #adb5bd;
    margin-bottom: 70px;
}
.titresect p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    color:  white;
}
.skills-section h3{
    font-size: 24px;
    font-family: 'ubutu' sans-serif;
    font-weight: 300;
    color: white;
}
.title{
    font-size: 18px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
}

.container-sec{
    margin-top: 100px;
    margin-left: 20px;
    width: 800px;
    margin-top: 800px;
}

.skills-list{
    
    display: flex;
    flex-direction: column;

}
.pourcentage{
    font-size: 14px;
    font-family: 'roboto' sans-serif;
    font-weight: bold;
    color: #22E7A1;
    margin-left: 450px;
}
.naom{
    margin-top: 900px;
    margin-left:60px;
    margin-bottom: 340px;
    width: 290px;
}
.autrepart .icone{
    color: #22E7A1;
    font-size: 60px;
    padding: 20px;
     
}
.autrepart h4{
    font-size: 20px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
}
.autrepart .nombre{
    color:#22E7A1;
    font-size: 56px;
    font-weight: 300;
    font-family: 'ubuntu ' sans-serif;
}
.annee{
    font-size: 18px;
    font-family: 'roboto' sans-serif;
    color: #b5c0c9;
}
.autrepart p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: #b5c0c9;
}
.autrepart{
    width: 250px;
    height: 350px;
    border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  color-mix(in srgb,#b5c0c9  5%, transparent 90%);
    text-align: center;
}
.naom h5{
    font-size: 18px;
    
    font-family: 'ubuntu ' sans-serif;
    color: white;
}

.technologies span{
font-size: 15px;
font-family: 'roboto' sans-serif;
font-weight: 300;
color: white;
}
.item i{
color: #22E7A1;
font-size: 16px;
}
.tech{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}
.item{
   width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  color-mix(in srgb,#b5c0c9  5%, transparent 90%);
}
.achtext p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
     margin-left: 15px;
}
.achtext h6{
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    color: #22E7A1;
   
}
.achtext{
      display: flex;
      align-items: center;
        gap: 10px;
         border-bottom: 1px solid color-mix(in srgb,#f3f4f6,transparent 90%);
    
}

.category-header p{
   font-size: 18px;
   font-family: 'roboto' sans-serif;
   font-weight: 500;
   color:  #adb5bd;
   margin-bottom: 40px;
   
}
.category-header{
     border-bottom: 1px solid color-mix(in srgb,#f3f4f6,transparent 90%);
     margin-bottom: 0px;
     margin-top: 0;
}
.ligne {
   width: 100%;
  height: 2px;            
  background: white;   
  overflow: hidden; 
  margin-top: 30px; 
}

.skills-bar {
  height: 100%;             
  background-color: #22E7A1;
   

}
.skills{
    margin-bottom: 30px;
}
#cv-section{
    display: flex;
    flex-direction: column;
    height: auto;
    
}

#cv-section h2{
    font-size: 32px;
    font-family: 'ubutu' sans-serif;
    font-weight: 300;
    color: white;
}
.container-section p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
    width: 900px 
}
.container-section{
     margin-bottom: 40px;
    text-align: center; 
}
.educ-prof{
    
    display: flex;
    width: 900px;
      margin-top: 30px;
}
.educ-prof p{
    font-size: 17px;
    font-family: 'roboto ' sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #adb5bd;
}
.timeline{
    margin-left: 20px;
}
.educ-prof span{
    font-size: 14.4px;
    font-family: 'roboto' sans-serif;
    color: #22E7A1;
    margin-top: 15px;
}
.timeline .tag{
    font-size: 13.6px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color:white;
    width: 135px;
    height: 25px;
    border-radius: 15px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  color-mix(in srgb,#b5c0c9  5%, transparent 90%);
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    display: flex; 
}
#cv-section h3{
    font-size: 22px;
    font-family: 'ubutu'sans-serif;
    font-weight: 300;
    color: white;
}
.educ-prof h4{
    font-size: 16px;
    font-family: 'ubutu ' sans-serif;
    font-style:inherit;
    color: #adb5bd; 

}
.timeline{
margin-bottom: 35px;
}
.educ-prof i{
    font-size: 23px;
     width: 15px;
    height: 8px;
    border-radius: 50%;
    color: #22E7A1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    background-color: color-mix(in srgb, #22E7A1 20%, transparent 80%);  
}
.sec-one{
    width: 450px;
}
.sec-two{
    width: 450px;
}
.timeline-edu i{
   font-size: 14px;
   width: 2px;
   height: 2px;
   border-radius: 10px;
    background-color: color-mix(in srgb, #22E7A1 20%, transparent 80%)
}

.timeline-edu .pp  {
    color:#22E7A1;
    width: 225px;
    height: 30px;
    border-radius: 15px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  color-mix(in srgb,#b5c0c9  5%, transparent 90%);
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    
}
.sec-two .timeline-edu{
 
     width: 450px;
    height: 300px;
    border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  color-mix(in srgb,#b5c0c9  5%, transparent 90%);
}
.Director{
    margin-top: 27px;
    margin-left: 45px;

}
.magna{
    margin-left: 45px; 
}
.chris{
   width: 450px;
    height: 230px;
    border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.2);
    background-color:  #293341;
    margin-top: 30px; 
}
.chris p{
    margin-bottom: 50px;
}
.cert-item h5{
font-size: 15.6px;
font-family: 'roboto' sans-serif;
font-style: normal;
font-weight: 300;
color: white;
}
.cert-item i{
font-size: 16px;
   border: none;          
    background: none;      
    box-shadow: none;     
    padding: 0;  
}
.cert-item p{
    font-size: 13.6px;
    font-family: 'roboto ' sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #adb5bd;
    padding-top:2px ;
    margin-left: 25px;
}
.cert-item{
    margin-top: 10px;
    border-bottom: 1px solid color-mix(in srgb,#f3f4f6,transparent 90%);   
}
.timeline-sec{
     position: relative;
    padding-left: 30px;
    margin-bottom: 50px;
    min-height: 60px;
    
}
.timeline-sec::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color:color-mix(in srgb,#22E7A1  20%, transparent 80%);
}
.arrondi{
width: 14px;
height: 14px;
border-radius: 50%;
border: 3px solid;
position: relative;
}
.point{
    width: 6px;
    height: 6px;
    background: #22E7A1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.icon-chris{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 12px;
}
.grand-item{
    margin-top: -900px;
    height: auto;
    margin-top: 5px;

}
.Director i{
    font-size: 12px;
    height: 1px;
    width: 3px;
    border-radius: 5px;
}
.grand-item h4{
color: white;
font-family: 'ubutu' sans-serif;
font-style: normal;
font-size: 20px;
}
#Portfolio{
    display: flex;
    flex-direction: column;
}
.titre-portfo h2{
    font-size: 32px;
    font-family: 'ubuntu' sans-serif;
    color: white;
    font-weight: 300;
    
}
.titre-portfo p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white; 
    
}
.titre-portfo{
  width: 900px;
  height: 180px;
  margin-top: 1500px;
  text-align: center;
   position: absolute;
}
a li  {
   font-size: 16px;
    font-family: 'ubuntu' sans-serif;
    color: white;
    font-weight: 300; 
   margin-left: 90px;
}
a {
    text-decoration: none;
}
.filters {
     width: 0px;
    height: 50px;
    margin-bottom: 130px;
    list-style: none;
    margin-top: 1700px;
    margin-right: 920px;
    display: inline-flex;
    gap: 5px;
}
.filters :hover{
    cursor: pointer;   
    color: #666;
}
.filters li{
    position: relative;
  padding-bottom: 15px;
}
.filters li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;         
  height: 2px;          
  background-color:#22E7A1;
}
.portof h3{
font-size: 24px;
font-family: 'ubutu' sans-serif;
font-weight: 300;
color: white;
}
.portof p{
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#adb5bd;
    
}
.portof span{
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    color: #22E7A1;    
}
.portof h6{
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    color: #adb5bd;
    margin-top: 6px;
    margin-left: 150px;
}
.ans{
    width: 300px;
    height: 50px;
    display: inline-flex;
}
.demo img{
    width: 430px;
    height: 360px;
     border-radius: 15px;
    transition: 0.3 ease;
}
.demo img:hover{
    transform: scale(1.1);
}
.portof{
     margin-top: 1800px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2,1fr);
    margin-top: -100px; 
    
}
#Portfolio{
 margin-top: -1400px; 
}
.cont-service h2{
     font-size: 32px;
    font-family: 'ubutu' sans-serif;
    font-weight: 300;
    color: white;
}
.cont-service p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
    width: 900px 
}
.cont-service{
    margin-top: 90px;
    text-align: center;
}
.row .service-item{
    height: 450px ;
    transition: 0.3 ease;
}

.service-icone i{
    font-size: 32px;
    color: #22E7A1;
     height: 70px;
    width: 70px;
     display: flex;
    flex-direction: column;
    border-radius: 50%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
     background-color: color-mix(in srgb, #22E7A1 15%, transparent 85%);
     border:  rgba(255, 255, 255, 0.2);
    transition: all 0.3 ease;
}
.service-item{
    padding-left: 50px;
    padding-top: 40px;
     border-radius: 25px;
}
.service-icone i:hover{
    transform: scale(1.1);
    background-color:color-mix(in srgb, #22E7A1 70%, transparent 30%) ;
}
.service-item h3{
    font-size: 28px;
    font-family: 'ubutu' sans-serif;
    font-weight: 300;
    color: white;
}
.service-item p{
     font-size: 15px;
    font-family: 'roboto' sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color:#adb5bd;
}
.learn{
     font-size: 14px;
    font-family: 'roboto' sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #22E7A1;
}
.learn-icone i{
    font-size: 15px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px ;
    width: 90%; 
    height: auto;
    margin-top: 40px;
   
}

.service-item:hover{
     border:  rgba(255, 255, 255, 0.2);
      box-shadow: 0 20px 60px color-mix(in srgb, white 15%, transparent 85%);
    background: #1e2a38;
    transition: scale(1.1);
}

#Service{
    display: flex;
    flex-direction: column;
}
.Testimonials{
    display: flex;
    flex-direction: column;
}
.Testimonials h2{
  font-size: 32px;
    font-family: 'ubutu' sans-serif;
    font-weight: 300;
    color: white;   
}
.Testimonials p{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: white;
}
.Testimonials-container{
    text-align: center;
}
.paragraphe-testim p{
    font-style: italic;
    line-height: 1.6;
    margin-top: 50px;
}
.Testimonials-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.Testimonials-header .star{
    font-size: 22px;
    color: gold;
}
.tes-icone i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #22E7A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img{
    width: 85px;
    height: 85px;
    border: 5px solid #22E7A1;
    border-radius: 50%;
}
.detail h4{
    font-size: 20px;
    font-family: 'ubutu' sans-serif;
    color: white;
}
.detail span{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: #22E7A1;
    margin-top: 3px;
}
.detail h5{
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    color: #adb5bd;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.detail  {
    margin:0px;  
}
.strategy{
    width: 700px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solidrgba(255, 255, 255, 0.05);
    border-top:4px solid #22E7A1;
    border-radius: 20px;
    padding: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation{
    margin-top: 30px;
}
.droite {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #22E7A1;
    margin-left: 750px;
   
}
.gauche {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #22E7A1;
}


