header{
position: fixed;
background-color: #293341;
height: auto;
width: 280px;
padding: 0 15px;
top: 0;
bottom: 0;
left: 0;
overflow-x:hidden ;
overflow-y: auto;
}
.nav-bar{
    margin-top: 15px;
    padding-left: 0px;
}
.principal{
width: 270px;
height: 105vh;
padding: 40px;

}
.principal .profil {
    text-align: center;
}
.principal .profil img{
    width: 200px;
    height: 200px;
    margin-left: -30px;
    border-radius: 20px;
    border: 6px solid #ffb9b933;
    display: block;
}
.principal h1{
    font-family: 'Ubuntu' ,sans-serif ; 
    font-size: 24px;
    font-weight: 300;
    margin-left: -120px;
    color: #ffffff;
    text-align: center;

}
.principal ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    padding: 10px;
}


.principal ul li a {
    color: white;
   font-family: 'raleway',sans-serif ;
   font-size: 16px;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 15px 10px;
   font-weight: 500;
   margin: 0; 
   text-decoration: none;
  
}
.icone a{
    width: 35px;
    height: 35px;
    border-radius: 9px;
    display: inline-flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
     border: 1px solid rgba(255, 255, 255, 0.2);
    font: 16px roboto,system-ui;
    background-color: #293341;
    color: white;
    margin: 3px;  
    transition: all 0.3s ease;  

    
}
.principal ul li a:hover{
    color: #22E7A1;
    cursor: pointer;
}
.icone a:hover{
     background-color: #22E7A1;
     cursor: pointer;  
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
    
section{
    width: 942px;
    height: auto;
    margin-left: 25%;
    background-color: #293341;
    align-items: center;
    gap: 20px;
    display: flex; 
     
}  
.im img{
    
    width: 400px;
    height: 400px;
    margin-right: 10%;
    object-fit:cover;
    border-radius: 12px;
    box-shadow: 0 20px 60px color-mix(in srgb,#f9fafb 15%,transparent 85%);
    transition: all 0.3s ease;
}
.sec{
    padding: 20px;
    margin-top: 190px;
}
.sec h1{
    font-family: 'Ubuntu' ,sans-serif ; 
    font-size: 56px;
    font-weight: 300;
    color: white;
}  
.sec p{
   
    font-family:'roboto','sans-serif';
    font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 1.9;
}
section span{
    color: #22E7A1;
}
.btn button{
    position: relative;;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    margin:15px;
    justify-content: space-between;
    font: 14px 'roboto','sans-serif';
    cursor: pointer;
    background-color: #293341;
    color: white;
    transition: all 0.3 ease;
    
}
.btn :hover{
    transform: scale(1.1);
    color: #22E7A1;
    border-color: #22E7A1;
}
.btn :first-child{
     background-color: #22E7A1;
     color: black;
}
.hero {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 40px; 
  text-align: center; 
  margin-top: 50px;
}

.stat h3 {
  font:32px'Roboto','sans-serif';
  margin-bottom: 5px;
}

.stat p {
  font-family:'Roboto','sans-serif';
  font-size: 14px;
  color: #666;
  margin: 0;
}
.square{
    position: relative;
    right:20px;
}
.fafa .palette{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:300px;
    right:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443;
    transition: all 0.3 ease;
}
.fafa .camera{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:80px;
    right:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443; 
    transition: all 0.3 ease;
}

.fafa .code{
    width: 150px;
    height: 70px;
    position: absolute;
    bottom:150px;
    left:300px;
    z-index: 2;
    border-radius: 8px;
    background-color: #293443; 
    transition: all 0.3 ease;  
}
.palette p,.camera p,.code p{
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #f9fafb;
    font: 14px 'Roboto', sans-serif;
    padding:10px;
}
.palette p i,.camera p i,.code p i{
    color: #22E7A1; 
}
.palette i,.camera i,.code i{
    margin:5px;
}
.im img:hover{
    transform: scale(1.1);
}
.palette:hover ,.camera:hover,.code:hover{
    transform: scale(1.1);
}