header{
position: fixed;
background-color: #293341;
height: auto;
width: 280px;
padding: 8px;
top: 0;
bottom: 0;
left: 0;
overflow-x:hidden ;
overflow-y: auto;
display: block;
}

.principal{
width: 270px;
height: 100vh;
padding: 20px;

}
.principal .profil {
    text-align: center;
}
.principal .profil img{
    width: 200px;
    height: 200px;
    margin-left: -50px;
    border-radius: 20px;
    border: 6px solid #ffffff33;
}
.principal h1{
    font-size: 25px;
    text-align: center;
    margin-left: -80px;
    color: white;
}
.principal ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    padding: 10px;
}

.principal ul li  {
    color: white;
   font-size: 20px;
   display: flex;
   align-items: center;
   gap: 12px;
   margin: 20px 0;
   
}
.icone a{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: inline-flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
    border:2px solid white;
    font-size: 15px;
    background-color: #293341;
    color: white;
    margin: 3px;      
}
.principal ul li:hover{
    color: #22E7A1;
}
.icone a:hover{
     background-color: #22E7A1;
}
     

