header{
position: fixed;
background-color: #293341;
height: auto;
width: 280px;
padding: 8px;
top: 0;
bottom: 0;
left: 0;
overflow-x:hidden ;
overflow-y: auto;
}

.principal{
width: 270px;
height: 100vh;
padding: 20px;

}
.principal .profil {
    text-align: center;
}
.principal .profil img{
    width: 200px;
    height: 200px;
    margin-left: -50px;
    border-radius: 20px;
    border: 6px solid #ffffff33;
}
.principal h1{
    font:25px Ubuntu sans-serif ; 
    text-align: center;
    margin-left: -70px;
    color: #ffffff;
}
.principal ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    padding: 10px;
}

.principal ul li  {
    color: white;
   font: 16px raleway,sans-serif ;
   display: flex;
   align-items: center;
   gap: 12px;
   margin: 20px 0;
}
.icone a{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: inline-flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
     border: 1px solid rgba(255, 255, 255, 0.2);
    font: 16px roboto,system-ui;
    background-color: #293341;
    color: white;
    margin: 3px;  
    transition: all 0.3s ease;    
}
.principal ul li:hover{
    color: #22E7A1;
}
.icone a:hover{
     background-color: #22E7A1;
     cursor: pointer;
     
}
     

